{%  extends 'base.html'%}
{% load static %}
{% load main_tag %}
{%block t%}STOR{%endblock%}
{%block body%}
{%block style%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
{%endblock%}
{% comment %} that for the admin aside  {% endcomment %}
<style>
    .subcolor{
        background-color:{{store.subColor}};
    }
    .sub{
        color:{{store.subColor}};
    }
    .main{
        color:{{store.mainColor}};
    }
    .maincolor{
        background-color: {{store.mainColor}};
    }
    .clicked{
        background-color: {{store.mainColor}};
        color:{{store.subColor}};
    }
    .editrange::-moz-range-thumb{
        background-color: black;
    }
</style>
<div class="flex row">
    {%if admin%}
    

    <div class="flex" style="width:100%;flex-wrap: nowrap;">
        <div class="" style="width:400px;margin-right:40px;">
            <aside class="dsaside rud flex-col" id="aside" style="position:relative;padding:0px;" >
                <div class="innerNav center maincolor">
                    <h1 class="sub">
                        {{store}}
                    </h1>
                </div>
                <div class="StoreAdmin">
                    <ul class="center text-red actions main">
                        <li class="center shadow rud">
                            <h3> <a id="logo"> Add LOGO </a></h3>
                        </li>
                        
                        <li class="center shadow rud">
                            <h3> <a id="cover"> Add Cover </a> </h3>
                        </li>
                        <li class="center shadow rud">
                            <h3> Add Category </h3>
                        </li>
                        <li class="center shadow rud">
                            <h3> <a> Add Product</a> </h3>
                        </li>
                        <li class="center shadow rud">
                            <h3> <a> Footer Edit</a> </h3>
                        </li>
                        <li class="center shadow rud">
                            <h3> <a> Theme Edit </a> </h3>
                        </li>
                    </ul>
                </div>
            </aside>  
        </div>
        <div style="max-width:100%;width:100%;">
            <div class="nav-bar maincolor" style="position:stitc;">
                <div>
                   <img src="{{store.icon.url}}" alt="">
                </div>
                <div class="second-logos">
                    <img src="{%static 'icons/mag.svg'%}" alt="">
                    <a href="{%url 'cart'%}"><img src="{%static 'icons/Vector.svg'%}" alt=""></a>
                    <img src="{%static 'icons/Grop.svg'%}" alt="">
                </div>
            </div>
            <div class="main" id="main">

            </div>
        </div>
    </div>
    <script>
        logo = document.getElementById('logo')
        logo.addEventListener('click',()=>{
            $.ajax({
                type:"GET",
                url:"{%url 'logo'%}",
                success:(html)=>{
                    main = document.getElementById("main")
                    main.innerHTML = html
                }
            })
        })

        cover = document.getElementById('cover')
        cover.addEventListener('click' , ()=>{
            $.ajax({
                type:"GET",
                url:"{%url 'cover'%}",
                success:(html)=>{
                    main = document.getElementById("main")
                    main.innerHTML = html
                }
            })
        })

    </script>
    {%else%}
    <div>
        <div class="nav-bar maincolor sub">
            <div>
               <img src="{{store.icon.url}}" alt="">
            </div>
                    <div class="second-logos">
                        <img src="{%static 'icons/mag.svg'%}" alt="">
                        <a href="{%url 'cart'%}"><img src="{%static 'icons/Vector.svg'%}" alt=""></a>
                        <img src="{%static 'icons/Grop.svg'%}" alt="">
                    </div>
            </div>
            <!--slider-->
            <div class="container">
                <!-- Slider main container -->
                <div class="swiper" style="width:90%;height:500px;margin:auto;">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper rud" style=" border-radius:30px;">
                        <!-- Slides -->
                        {%if store.backgroundImage%}
                            {%if store.backgroundImage.image%}
                                {%for i in store.backgroundImage.image.all%}
                                <div class="swiper-slide" style="width:100%; height:60%; object-fit:cover;">
                                    <img src="{{i.image.url}}" alt="">
                                </div>
                                {%endfor%}
                            {%elif store.backgroundImage.items%}
                                {%for i in store.backgroundImage.items.all%}
                                    <div class="swiper-slide" style="background-image:url({{i.cover}})">
                                        <pre>
                                            {{store.backgroundImage.text}}
                                        </pre>
                                    </div>
                                {%endfor%}
                            {%endif%}
                        {%endif%}
                    </div>
            
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev" style="color:#f2f2f2;"></div>
                    <div class="swiper-button-next"  style="color:#f2f2f2;"></div>
            
            
                </div>
            
            </div>
            
            <div class="sectionx">
               {%for i in store.cats.all%}
                    <a href="#" class="maincolor sub">{{i}}</a>
               {%endfor%}
            </div>
            
            
            <div class="line sectionline ">
                <h2>
                    <span id="growth_section" class="" style="color:black;">products</span>
                </h2>
            </div>
            
            <!-- product card-->
            
            <div class="grid center" style="margin:10px auto; width:70%; padding: 5px;">
                {%for i in data%}
                <div class="itemx subcolor">
                    <div class= "image-container center  sr">
                        <img src="{{i.cover}}" alt="">
                    </div>
                    <div class="product-footer sb ">
                        <div>
                            <span class="main">{{i.name}}</span>
                        </div>
                       <div>
                        <form action="" method="post">
                            {%csrf_token%}
                            <button class="bbtn maincolor sub" name="item" value="{{i.id}}" >
                            <img type="submit" src="{%static 'icons/Vector.svg'%}" alt="" >
                           </button>
                        </form>
                       </div>
                    </div>
                    <div class="product-price maincolor">
                    <span>
                       {{i.price}}
                    </span>
                    </div>
                </div>
                {%endfor%}
            
            <div>
            
            </div>
            
            
            </div>
            <div class="brandStorFootre flex-w rud-top maincolor sub" >
                <div class="container center">
                    <div class="footer-icon">
                        {%if store.icon%}
                            <img src="{{store.icon.url}}" alt="">
                        {%endif%}
                    </div>
                </div>
        
                <div class="container">
                    <div class="row center" style="height:fit-content;margin:auto;">
                        <div class="center">
                            <h3>Follow us</h3>
                        </div>
                        <div class="flex sr">
                            {%for i in store.sm.all%}
                                <div class="smicon">
                                    {%if i.icon%}
                                        <img src="{{i.icon.url}}" alt="">
                                    {%endif%}
                                    <p style="font-size:smaller;">
                                        {{i}}
                                    </p>
                                </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
                
                <div class="container center row" style="height:fit-content;margin:auto;">
                    <div class="center m-3">
                        <h3>
                            Vist us
                        </h3>
                    </div>
                    <div class="center m-3">
                        <h3>
                            Brand Address
                        </h3>
                    </div>
                </div>
            </div>
            <script>
                const swiper = new Swiper('.swiper', {
                    autoplay:{
                        delay:3000,
                        disableOnInteraction: false,
                    },
            
                    loop: true,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
            
            
                });
            </script>
     </div>
    {%endif%}
</div>
{%endblock%}